.Bmenu {
    position: fixed;
    height: 70px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;
    ul{
        list-style-type: none;
        display: inline-flex;
        li{
            position: relative;
            left: 10%;
        }
        
        
       
    }

}